In [0]:
 data = [
    (1, "Alice", 20),
    (2, None,   22),
    (3, "Charlie", None),
    (4, None,   None)
]
columns = ["id", "name", "age"]
df = spark.createDataFrame(data, columns)
df.fillna({"name": "unknown", "age":25}).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 20|
|  2|unknown| 22|
|  3|Charlie| 25|
|  4|unknown| 25|
+---+-------+---+

In [0]:
data = [
    (1, "Alice", 20),
    (2, None,   22),
    (3, "Charlie", None),
    (4, None,   None)
]
columns = ["id", "name", "age"]
df = spark.createDataFrame(data, columns)
#df.dropna().show()
df.show()
df.dropna('all',subset=['name','age']).show()

+---+-------+----+
| id|   name| age|
+---+-------+----+
|  1|  Alice|  20|
|  2|   NULL|  22|
|  3|Charlie|NULL|
|  4|   NULL|NULL|
+---+-------+----+

+---+-------+----+
| id|   name| age|
+---+-------+----+
|  1|  Alice|  20|
|  2|   NULL|  22|
|  3|Charlie|NULL|
+---+-------+----+

In [0]:


data = [
    ("Alice", "Math", 85),
    ("Alice", "Science", 90),
    ("Alice", "History", 88),
    ("Bob", "Math", 70),
    ("Bob", "Science", 80),
    ("Bob", "History", 75),
    ("Charlie", "Math", 95),
    ("Charlie", "Science", 85),
    ("Charlie", "History", 92)
]
columns = ["student", "subject", "score"]
df = spark.createDataFrame(data, columns)

#df.show()



df2=df.groupBy('student').pivot('subject').agg(avg('score')).alias('avg_score')
df2.printSchema()

df2.show()

root
 |-- student: string (nullable = true)
 |-- History: double (nullable = true)
 |-- Math: double (nullable = true)
 |-- Science: double (nullable = true)

+-------+-------+----+-------+
|student|History|Math|Science|
+-------+-------+----+-------+
|  Alice|   88.0|85.0|   90.0|
|    Bob|   75.0|70.0|   80.0|
|Charlie|   92.0|95.0|   85.0|
+-------+-------+----+-------+

In [0]:
from pyspark.sql.functions import sum


sales = [
    ("StoreA", "Jan", 100),
    ("StoreA", "Feb", 150),
    ("StoreA", "Mar", 200),
    ("StoreB", "Jan", 80),
    ("StoreB", "Feb", 120),
    ("StoreB", "Mar", 160),
    ("StoreC", "Jan", 90),
    ("StoreC", "Feb", 110),
    ("StoreC", "Mar", 130)
]
columns = ["store", "month", "sales"]
df_sales = spark.createDataFrame(sales, columns)


df2=df_sales.groupBy('month').pivot('store').agg(sum('sales')).alias('total_sales')
df2.show()

+-----+------+------+------+
|month|StoreA|StoreB|StoreC|
+-----+------+------+------+
|  Jan|   100|    80|    90|
|  Feb|   150|   120|   110|
|  Mar|   200|   160|   130|
+-----+------+------+------+