In [0]:
employees = [
    (1, "John", "Sales"),
    (2, "Sarah", "Engineering"),
    (3, "Michael", "HR"),
    (4, "Anna", "Engineering"),
    (5, "David", "Sales")
]
emp_columns = ["emp_id", "name", "department"]
df_emp = spark.createDataFrame(employees, emp_columns)

departments = [
    ("Sales", "New York"),
    ("Engineering", "San Francisco"),
    ("HR", "Chicago"),
    ("Finance", "Boston")
]
dept_columns = ["department", "location"]
df_dept = spark.createDataFrame(departments, dept_columns)

# Now join safely

df_emp.join(df_dept, df_emp.department == df_dept.department, "inner").display()

#df_emp.join(df_dept, df_emp.department == df_dept.department, "right").display()

emp_id,name,department,department,location
1,John,Sales,Sales,New York
2,Sarah,Engineering,Engineering,San Francisco
3,Michael,HR,HR,Chicago
4,Anna,Engineering,Engineering,San Francisco
5,David,Sales,Sales,New York

In [0]:
employees = [
    (1, "John", "Sales"),
    (2, "Sarah", "Engineering"),
    (3, "Michael", "HR"),
    (4, "Anna", "Engineering"),
    (5, "David", "Sales"),
    (6, "Emma", "Finance")   # Finance not in departments
]
emp_columns = ["emp_id", "name", "department"]
df_emp = spark.createDataFrame(employees, emp_columns)


departments = [
    ("Sales", "New York"),
    ("Engineering", "San Francisco"),
    ("HR", "Chicago")
]
dept_columns = ["department", "location"]
df_dept = spark.createDataFrame(departments, dept_columns)



#df2=df_emp.join(df_dept, df_emp.department == df_dept.department, "left_semi")
df2=df_emp.join(df_dept, df_emp.department == df_dept.department, "left_anti")
df2.display()

#df_emp.join(df_dept, df_emp.department == df_dept.department, "right").display()

emp_id,name,department
6,Emma,Finance

In [0]:
students = [
    (1, "Alice"),
    (2, "Bob"),
    (3, "Charlie")
]
student_columns = ["student_id", "name"]
df_students = spark.createDataFrame(students, student_columns)


courses = [
    ("Math"),
    ("Science"),
    ("History")
]
course_columns = ["course"]
df_courses = spark.createDataFrame(courses, course_columns)


df_students.join(df_courses).display()

student_id,name,course
1,Alice,Math
1,Alice,Science
1,Alice,History
2,Bob,Math
2,Bob,Science
2,Bob,History
3,Charlie,Math
3,Charlie,Science
3,Charlie,History

In [0]:
data1 = [
    (1, "Alice", 20),
    (2, "Bob", 22)
]
columns1 = ["id", "name", "age"]
df1 = spark.createDataFrame(data1, columns1)


data2 = [
    ("Charlie", 3, 23, "Math"),
    ("David", 4, 25, "Science")
]
columns2 = ["name", "id", "age", "course"]
df2 = spark.createDataFrame(data2, columns2)



df1.display()
df2.display()

df3=df1.unionByName(df2,True)
df3.display()

id,name,age
1,Alice,20
2,Bob,22

name,id,age,course
Charlie,3,23,Math
David,4,25,Science

id,name,age,course
1,Alice,20,null
2,Bob,22,null
3,Charlie,23,Math
4,David,25,Science