In [0]:
from pyspark.sql import*
data = [
    (1, "John", "Sales", 50000),
    (2, "Sarah", "Engineering", 75000),
    (3, "Michael", "HR", 60000),
    (4, "Anna", "Engineering", 80000),
    (5, "David", "Sales", 55000)
]

columns = ["id", "name", "department", "salary"]
df = spark.createDataFrame(data, columns)
df.display()

df1=df.createOrReplaceTempView("employee")
df1=spark.sql("Select * from employee where name='John' or department='Engineering'")
df1.display()

In [0]:

from pyspark.sql.functions import col
from pyspark.sql.types import*

data = [
    (1, "John", "29", "50000", "2020-01-15", "true"),
    (2, "Sarah", "31", "75000.50", "2019-07-23", "false"),
    (3, "Michael", "35", "60000", "2021-03-10", "true"),
    (4, "Anna", "28", "80000", "2020-11-05", "true"),
    (5, "David", "30", "55000.75", "2018-09-17", "false")
]

columns = ["id", "name", "age", "salary", "joining_date", "is_active"]
df = spark.createDataFrame(data, columns)
df.display()

df.select(col('id').cast('long'))
df=df.withColumn('joining_date',col('joining_date').cast('date'))
df.printSchema()

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring


data = [(1, "John Doe"), (2, "Sarah Connor"), (3, "Michael Smith")]
df = spark.createDataFrame(data, ["id", "name"])

df=df.select('id','name',substring(col('name'),1,4).alias('short_name'))
df=df.withColumn('last_name',substring(col('name'),5,10))
#df=df.select(col("last_name").substr(1,4))
df.display()

In [0]:
from pyspark.sql.functions import when

data = [
    (1, "John", 50000),
    (2, "Sarah", 75000),
    (3, "Michael", 60000),
    (4, "Anna", 80000),
    (5, "David", 55000)
]

columns = ["id", "name", "salary"]
df = spark.createDataFrame(data, columns)

df1=df.withColumn('salary_level',
              when(col("salary") > 75000,'high')\
              .when(col("salary") > 55000,'medium')\
              .otherwise('low'))

df1.withColumnRenamed('salary_level','salary_level_new').display()

In [0]:
data = [
    (1, "John", "Sales", 50000),
    (2, "Sarah", "Engineering", 75000),
    (3, "Michael", "HR", 60000),
    (4, "Anna", "Engineering", 80000),
    (5, "David", "Sales", 55000),
    (6, "Emma", "HR", 45000),
    (7, "Chris", "Engineering", 72000)
]

columns = ["id", "name", "department", "salary"]
df = spark.createDataFrame(data, columns)
df.display()
df.filter(df.id.isNotNull()).display()
df.filter(df.department.contains("Eng")).display()


#df.filter((col("department") == "Engineering") & (col("salary") > 70000)).display()
#df.filter(df.salary > 70000).display()

In [0]:
data = [
    (1, "John", "Sales", 50000),
    (2, "Sarah", "Engineering", 75000),
    (3, "Michael", "HR", 60000),
    (4, "Anna", "Engineering", 80000),
    (5, "David", "Sales", 55000),
    (6, "John", "Sales", 50000),     # duplicate of row 1
    (7, "Sarah", "Engineering", 75000), # duplicate of row 2
    (8, "David", "Sales", 55000)     # duplicate of row 5
]

columns = ["id", "name", "department", "salary"]
df = spark.createDataFrame(data, columns)
df1=df.dropDuplicates(["department"])
df1.display()

In [0]:
data = [
    (1, "John", "Sales", 50000),
    (2, "Sarah", "Engineering", 75000),
    (3, "Michael", "HR", 60000),
    (4, "Anna", "Engineering", 80000),
    (5, "David", "Sales", 55000)
]

columns = ["id", "name", "department", "salary"]
df = spark.createDataFrame(data, columns)

#df.sort(df.salary.desc()).display()
df.orderBy(col('salary')).display()

In [0]:
from pyspark.sql.functions import*

data = [
    (1, "John", "Sales", 50000),
    (2, "Sarah", "Engineering", 75000),
    (3, "Michael", "HR", 60000),
    (4, "Anna", "Engineering", 80000),
    (5, "David", "Sales", 55000),
    (6, "Emma", "HR", 45000),
    (7, "Chris", "Engineering", 72000)
]

columns = ["id", "name", "department", "salary"]
df = spark.createDataFrame(data, columns)
df.display()
df.printSchema()
#df2 =df.groupBy('department').count()
df2=df.groupBy('department').agg(sum('salary').alias('dept_sal'))
df3=df.groupBy('department').agg(sum('salary').alias('dept_sal'),avg('salary').alias('avg_sal'))
df3.display()